{% extends "base.html" %}

{% block content %}
  <div class="home">
          <div class="slick-slider">
            <div class="slick-slide">
              <img src="/static/img/images_carousel/slide1.jpg" alt="img_slider1" class="carousel__img">
            </div>
            <div class="slick-slide">
              <img src="/static/img/images_carousel/slide2.jpeg" alt="img_slider2" class="carousel__img">
            </div>
            <div class="slick-slide">
              <img src="/static/img/images_carousel/slide3.jpg" alt="img_slider3" class="carousel__img">
            </div>
            <div class="slick-slide">
              <img src="/static/img/images_carousel/slide4.jpeg" alt="img_slider4" class="carousel__img">
            </div>
          </div>
    {% if products %}
        <div class="home__featured">
          <h2 class="text-center">{% trans %}Featured products{% endtrans %}</h2>
          <div class="row">
          {% include('products/_items.html') %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
