.home {
  text-align: center;
  place-items: center;
  color: $white;
  padding-top: 1%;
  h1 {
    font-weight: 300;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }
  }
  
  &__featured {
    color: $body-color;
    h2 {
      text-transform: uppercase;
      margin: $global-margin * 2 0;
    }
  }
}
